<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7/css/bootstrap.css"/>
    <script src="../js/vue.min.js"></script>
    <script src="../js/vue-resource.js"></script>
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.css">

</head>
<body>

<div id="app">
    <comp @func="loadComments"></comp>
    <ul class="list-group">
        <li class="list-group-item" v-for="item in list" :key="item.id">
            <span class="badge">评论人:{{item.user}}</span>
            {{item.content}}
        </li>
    </ul>
</div>
<template id="temp1">
    <div>
        <div class="form-group">
            <label>评论人</label>
            <input type="text" class="form-control" v-model="user">
        </div>
        
        <div class="form-group">
            <label>评论内容</label>
            <textarea class="form-control" v-model="content"></textarea>
        </div>
        <div class="form-group">
            <input type="button" value="发表评论" class="btn btn-primary"
            @click="postComment">
        </div>
    </div>
</template>
</body>
<script type="text/javascript">
    var commentBox = {
        data(){
          return {
             user:'',
             content:''
          }
        },
        template:'#temp1',
        methods: {
            postComment(){ //发表评论的方法
                var comment = {id:Date.now(), user:this.user,content:this.content};
                var list = JSON.parse(localStorage.getItem('cmts') || '[]');
                list.unshift(comment);
                localStorage.setItem('cmts',JSON.stringify(list));
                this.user = this.content = '';
                console.log(list);
                this.$emit('func');
            }
        }
    };

    //创建vue实例，得到ViewModel
    var vm = new Vue({
        el:'#app',
        data:{
            list:[
                {id:Date.now(),user:'李白',content:'天生我才'},
                {id:Date.now(),user:'江小白',content:'劝君更近一杯酒'},
                {id:Date.now(),user:'小马',content:'我姓马，风吹草地想牛羊的马'},
            ]
        },
        created(){
            this.loadComments();
        },
        methods:{
            loadComments(){
                var list = JSON.parse(localStorage.getItem('cmts') || '[]');
                this.list = list;
            }
        },
        components:{
            comp:commentBox
        }


    });

</script>
</html>
