<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.min.js"></script>
    <script src="../js/vue-router.js"></script>

    <style>

    </style>
</head>

<body>
<div id="app">
  <!--  分析
    我们要监听到文本框数据的改变，这样才能知道什么时候去拼接，
    如果监听文本框的数据改变呢-->
    <input type="text" v-model="firstname" >+
    <input type="text" v-model="lastname" >=
    <input type="text" v-model="fullname">


</div>


<script>


    var vm = new  Vue({
        el:'#app',
        data:{
            firstname:'',
            lastname:'',
            fullname:''
        },
        methods:{ },
        watch:{//使用这个属性，可以监听data中指定数据的变化，然后触发这个watch中对应的
            //function处理函数
            firstname:function (newVal, oldVal) {
                console.log(newVal + '----' + oldVal);
                console.log('监视到了 firstname 的 变化');
                // this.fullname = this.firstname + '- ' + this.lastname;
                 this.fullname = newVal + '- ' + this.lastname;
            },
            lastname:function (newVal, oldVal) {
                this.fullname = this.firstname + '-' + newVal;
            }

        }
    })
</script>
</body>
</html>